@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
        --zinc-50: 0 0% 98%;
    /* #fafafa */
    --zinc-100: 240 5% 96%;
    /* #f4f4f5 */
    --zinc-200: 240 6% 90%;
    /* #e4e4e7 */
    --zinc-300: 240 5% 84%;
    /* #d4d4d8 */
    --zinc-400: 240 5% 65%;
    /* #a1a1aa */
    --zinc-500: 240 4% 46%;
    /* #71717a */
    --zinc-600: 240 5% 34%;
    /* #52525b */
    --zinc-700: 240 5% 26%;
    /* #3f3f46 */
    --zinc-800: 240 4% 16%;
    /* #27272a */
    --zinc-900: 240 6% 10%;
    /* #18181b */
    --zinc-950: 240 10% 4%;
    /* #09090b */

    --neutral-50: 0 0% 98%;
    /* #fafafa */
    --neutral-100: 0 0% 96%;
    /* #f5f5f5 */
    --neutral-200: 0 0% 90%;
    /* #e5e5e5 */
    --neutral-300: 0 0% 83%;
    /* #d4d4d4 */
    --neutral-400: 0 0% 64%;
    /* #a3a3a3 */
    --neutral-500: 0 0% 45%;
    /* #737373 */
    --neutral-600: 0 0% 32%;
    /* #525252 */
    --neutral-700: 0 0% 25%;
    /* #404040 */
    --neutral-800: 0 0% 15%;
    /* #262626 */
    --neutral-900: 0 0% 9%;
    /* #171717 */
    --neutral-950: 0 0% 4%;
    /* #0a0a0a */

    --stone-50: 60 9% 98%;
    /* #fafaf9 */
    --stone-100: 60 5% 96%;
    /* #f5f5f4 */
    --stone-200: 20 6% 90%;
    /* #e7e5e4 */
    --stone-300: 24 6% 83%;
    /* #d6d3d1 */
    --stone-400: 24 5% 64%;
    /* #a8a29e */
    --stone-500: 25 5% 45%;
    /* #78716c */
    --stone-600: 33 5% 32%;
    /* #57534e */
    --stone-700: 30 6% 25%;
    /* #44403c */
    --stone-800: 12 6% 15%;
    /* #292524 */
    --stone-900: 24 10% 10%;
    /* #1c1917 */
    --stone-950: 20 14% 4%;
    /* #0c0a09 */

    --nord-red: 354 42% 56%;
    /* #be6069 */
    --nord-orange: 14 51% 63%;
    /* #d18771 */
    --nord-yellow: 40 71% 73%;
    /* #ebca89 */
    --nord-green: 92 28% 65%;
    /* #a4bf8d */
    --nord-blue-green: 179 25% 65%;
    /* #8fbcbb */
    --nord-light-blue: 193 43% 67%;
    /* #87bfcf */
    --nord-blue: 210 34% 63%;
    /* #81a1c1 */
    --nord-dark-blue: 213 32% 52%;
    /* #5d81ac */
    --nord-purple: 311 20% 63%;
    /* #b48ead */

    --radius: 0.5rem;    

    /* Nord color palette  */
    /* see: https://www.nordtheme.com/ */

      --colors-black:0deg 0% 0%;
  --colors-white:0deg 0% 100%;
  --colors-gray-dark-100:0deg 0% 8.6%;
  --colors-gray-dark-200:0deg 0% 11%;
  --colors-gray-dark-300:0deg 0% 13.7%;
  --colors-gray-dark-400:0deg 0% 15.7%;
  --colors-gray-dark-500:0deg 0% 18%;
  --colors-gray-dark-600:0deg 0% 20.4%;
  --colors-gray-dark-700:0deg 0% 24.3%;
  --colors-gray-dark-800:0deg 0% 31.4%;
  --colors-gray-dark-900:0deg 0% 43.9%;
  --colors-gray-dark-1000:0deg 0% 49.4%;
  --colors-gray-dark-1100:0deg 0% 62.7%;
  --colors-gray-dark-1200:0deg 0% 92.9%;
  --colors-gray-dark-alpha-100:transparent;
  --colors-gray-dark-alpha-200:hsla(0,0%,100%,.031);
  --colors-gray-dark-alpha-300:hsla(0,0%,100%,.059);
  --colors-gray-dark-alpha-400:hsla(0,0%,100%,.078);
  --colors-gray-dark-alpha-500:hsla(0,0%,100%,.102);
  --colors-gray-dark-alpha-600:hsla(0,0%,100%,.129);
  --colors-gray-dark-alpha-700:hsla(0,0%,100%,.169);
  --colors-gray-dark-alpha-800:hsla(0,0%,100%,.251);
  --colors-gray-dark-alpha-900:hsla(0,0%,100%,.388);
  --colors-gray-dark-alpha-1000:hsla(0,0%,100%,.451);
  --colors-gray-dark-alpha-1100:hsla(0,0%,100%,.588);
  --colors-gray-dark-alpha-1200:hsla(0,0%,100%,.922);
  --colors-gray-light-100:0deg 0% 98.8%;
  --colors-gray-light-200:0deg 0% 97.3%;
  --colors-gray-light-300:0deg 0% 95.3%;
  --colors-gray-light-400:0deg 0% 92.9%;
  --colors-gray-light-500:0deg 0% 91%;
  --colors-gray-light-600:0deg 0% 88.6%;
  --colors-gray-light-700:0deg 0% 85.9%;
  --colors-gray-light-800:0deg 0% 78%;
  --colors-gray-light-900:0deg 0% 56.1%;
  --colors-gray-light-1000:0deg 0% 52.2%;
  --colors-gray-light-1100:0deg 0% 43.5%;
  --colors-gray-light-1200:0deg 0% 9%;
  --colors-gray-light-alpha-100:rgba(0,0,0,.012);
  --colors-gray-light-alpha-200:rgba(0,0,0,.031);
  --colors-gray-light-alpha-300:rgba(0,0,0,.051);
  --colors-gray-light-alpha-400:rgba(0,0,0,.071);
  --colors-gray-light-alpha-500:rgba(0,0,0,.09);
  --colors-gray-light-alpha-600:rgba(0,0,0,.11);
  --colors-gray-light-alpha-700:rgba(0,0,0,.141);
  --colors-gray-light-alpha-800:rgba(0,0,0,.22);
  --colors-gray-light-alpha-900:rgba(0,0,0,.439);
  --colors-gray-light-alpha-1000:rgba(0,0,0,.478);
  --colors-gray-light-alpha-1100:rgba(0,0,0,.561);
  --colors-gray-light-alpha-1200:rgba(0,0,0,.91);
  --colors-slate-dark-100:200deg 6.7% 8.8%;
  --colors-slate-dark-200:195deg 7.1% 11%;
  --colors-slate-dark-300:192deg 7.2% 13.5%;
  --colors-slate-dark-400:204deg 6.2% 15.9%;
  --colors-slate-dark-500:200deg 6.5% 18%;
  --colors-slate-dark-600:205.7deg 6.7% 20.6%;
  --colors-slate-dark-700:202.5deg 6.5% 24.3%;
  --colors-slate-dark-800:206.7deg 5.6% 31.6%;
  --colors-slate-dark-900:205.7deg 6.3% 43.9%;
  --colors-slate-dark-1000:207.7deg 5.1% 49.6%;
  --colors-slate-dark-1100:207.3deg 5.8% 62.9%;
  --colors-slate-dark-1200:210deg 5.6% 92.9%;
  --colors-slate-dark-alpha-100:transparent;
  --colors-slate-dark-alpha-200:rgba(213,254,255,.031);
  --colors-slate-dark-alpha-300:rgba(214,251,252,.059);
  --colors-slate-dark-alpha-400:rgba(226,240,253,.078);
  --colors-slate-dark-alpha-500:rgba(223,243,253,.11);
  --colors-slate-dark-alpha-600:rgba(223,239,254,.141);
  --colors-slate-dark-alpha-700:rgba(224,243,255,.18);
  --colors-slate-dark-alpha-800:rgba(229,242,254,.259);
  --colors-slate-dark-alpha-900:rgba(225,241,255,.412);
  --colors-slate-dark-alpha-1000:rgba(231,243,255,.471);
  --colors-slate-dark-alpha-1100:rgba(239,247,255,.62);
  --colors-slate-dark-alpha-1200:rgba(253,254,255,.929);
  --colors-slate-light-100:210deg 33.3% 98.8%;
  --colors-slate-light-200:210deg 16.7% 97.6%;
  --colors-slate-light-300:210deg 16.7% 95.3%;
  --colors-slate-light-400:210deg 11.8% 93.3%;
  --colors-slate-light-500:216deg 11.1% 91.2%;
  --colors-slate-light-600:205.7deg 12.3% 88.8%;
  --colors-slate-light-700:210deg 11.1% 85.9%;
  --colors-slate-light-800:205deg 10.7% 78%;
  --colors-slate-light-900:205.7deg 6.3% 56.1%;
  --colors-slate-light-1000:205.7deg 5.7% 52.2%;
  --colors-slate-light-1100:205.7deg 6.3% 43.5%;
  --colors-slate-light-1200:201.8deg 24.4% 8.8%;
  --colors-slate-light-alpha-100:rgba(5,68,130,.02);
  --colors-slate-light-alpha-200:rgba(5,41,77,.031);
  --colors-slate-light-alpha-300:rgba(0,37,73,.051);
  --colors-slate-light-alpha-400:rgba(2,28,55,.078);
  --colors-slate-light-alpha-500:rgba(2,23,53,.102);
  --colors-slate-light-alpha-600:rgba(1,33,57,.129);
  --colors-slate-light-alpha-700:rgba(0,26,51,.161);
  --colors-slate-light-alpha-800:rgba(1,30,50,.239);
  --colors-slate-light-alpha-900:rgba(0,17,30,.471);
  --colors-slate-light-alpha-1000:rgba(0,16,27,.51);
  --colors-slate-light-alpha-1100:rgba(0,14,24,.588);
  --colors-slate-light-alpha-1200:rgba(0,8,12,.929);

    --destructive: 354 42% 56%; /* #bf616a */
    --danger:      14 51% 63%;  /* #d08770 */
    --warn:        40 71% 73%;  /* #ebcb8b */
    --success:     92 28% 65%;  /* #a3be8c */
    --info:        213 32% 52%; /* #5e81ac */
    --primary:        210 34% 63%; /* #81a1c1 */
  }

  .light {
    --background: 0 0% 97%;
    --foreground-light: 0 0% 25%;
    --foreground-lighter: 0 0% 50%;
    --foreground: 0 0% 7%;
    
    --foreground: var(--neutral-600);
    --foreground: 0 0% 32%;
    --foreground: 0 0% 20%;

    /* --foreground-muted:var(--colors-gray-dark-900);
    --foreground-lighter:var(--colors-gray-dark-1000);
    --foreground-light:var(--colors-gray-dark-1100);
    --foreground-default:var(--colors-gray-dark-1200); */

    --foreground-muted:0deg 0% 69.8%;

    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 90.0%;
    --secondary-foreground: 240 5.9% 10%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --muted: 0 0% 87%;
    --muted-foreground: var(--foreground-lighter);
    --card: 0 0% 100%;
    --card-foreground: var(--foreground-light);

    --destructive-foreground: var(--background);
    --info-foreground: var(--background);
    --success-foreground: var(--foreground);
    --warn-foreground: var(--foreground);

    --border: 0 0% 87%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 0 0% 9%;
  /* --background:var(--colors-gray-dark-200); */
    --foreground: 0 0% 93%;
    --foreground-light: 0 0% 63%;
    --foreground-lighter: 0 0% 49%;

  --foreground-muted:var(--colors-gray-dark-900);
  --foreground-lighter:var(--colors-gray-dark-1000);
  --foreground-light:var(--colors-gray-dark-1100);
  /* --foreground:var(--colors-gray-dark-1200) */

    --primary-foreground: 60 0% 0%;
    --secondary: 240 4% 15%;
    --secondary-foreground: 60 5% 85%;
    --accent: 240 4% 20%;
    --destructive-foreground: 0 0% 98%;
    --muted: 240 5% 25%;
    --muted-foreground: var(--foreground-lighter);
    --card: 0 0% 14%;
    --card-foreground: var(--foreground-light);
    --border: 0 0% 20%;

    --destructive-foreground: var(--background);
    --info-foreground: var(--background);
    --success-foreground: var(--background);
    --warn-foreground: var(--background);

    --input: 240 6% 20%;
    --ring: 240 5% 90%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/*

CSS colors taken from SupaBase
https://supabase.com

:root {
  --colors-black:0deg 0% 0%;
  --colors-white:0deg 0% 100%;
  --colors-gray-dark-100:0deg 0% 8.6%;
  --colors-gray-dark-200:0deg 0% 11%;
  --colors-gray-dark-300:0deg 0% 13.7%;
  --colors-gray-dark-400:0deg 0% 15.7%;
  --colors-gray-dark-500:0deg 0% 18%;
  --colors-gray-dark-600:0deg 0% 20.4%;
  --colors-gray-dark-700:0deg 0% 24.3%;
  --colors-gray-dark-800:0deg 0% 31.4%;
  --colors-gray-dark-900:0deg 0% 43.9%;
  --colors-gray-dark-1000:0deg 0% 49.4%;
  --colors-gray-dark-1100:0deg 0% 62.7%;
  --colors-gray-dark-1200:0deg 0% 92.9%;
  --colors-gray-dark-alpha-100:transparent;
  --colors-gray-dark-alpha-200:hsla(0,0%,100%,.031);
  --colors-gray-dark-alpha-300:hsla(0,0%,100%,.059);
  --colors-gray-dark-alpha-400:hsla(0,0%,100%,.078);
  --colors-gray-dark-alpha-500:hsla(0,0%,100%,.102);
  --colors-gray-dark-alpha-600:hsla(0,0%,100%,.129);
  --colors-gray-dark-alpha-700:hsla(0,0%,100%,.169);
  --colors-gray-dark-alpha-800:hsla(0,0%,100%,.251);
  --colors-gray-dark-alpha-900:hsla(0,0%,100%,.388);
  --colors-gray-dark-alpha-1000:hsla(0,0%,100%,.451);
  --colors-gray-dark-alpha-1100:hsla(0,0%,100%,.588);
  --colors-gray-dark-alpha-1200:hsla(0,0%,100%,.922);
  --colors-gray-light-100:0deg 0% 98.8%;
  --colors-gray-light-200:0deg 0% 97.3%;
  --colors-gray-light-300:0deg 0% 95.3%;
  --colors-gray-light-400:0deg 0% 92.9%;
  --colors-gray-light-500:0deg 0% 91%;
  --colors-gray-light-600:0deg 0% 88.6%;
  --colors-gray-light-700:0deg 0% 85.9%;
  --colors-gray-light-800:0deg 0% 78%;
  --colors-gray-light-900:0deg 0% 56.1%;
  --colors-gray-light-1000:0deg 0% 52.2%;
  --colors-gray-light-1100:0deg 0% 43.5%;
  --colors-gray-light-1200:0deg 0% 9%;
  --colors-gray-light-alpha-100:rgba(0,0,0,.012);
  --colors-gray-light-alpha-200:rgba(0,0,0,.031);
  --colors-gray-light-alpha-300:rgba(0,0,0,.051);
  --colors-gray-light-alpha-400:rgba(0,0,0,.071);
  --colors-gray-light-alpha-500:rgba(0,0,0,.09);
  --colors-gray-light-alpha-600:rgba(0,0,0,.11);
  --colors-gray-light-alpha-700:rgba(0,0,0,.141);
  --colors-gray-light-alpha-800:rgba(0,0,0,.22);
  --colors-gray-light-alpha-900:rgba(0,0,0,.439);
  --colors-gray-light-alpha-1000:rgba(0,0,0,.478);
  --colors-gray-light-alpha-1100:rgba(0,0,0,.561);
  --colors-gray-light-alpha-1200:rgba(0,0,0,.91);
  --colors-slate-dark-100:200deg 6.7% 8.8%;
  --colors-slate-dark-200:195deg 7.1% 11%;
  --colors-slate-dark-300:192deg 7.2% 13.5%;
  --colors-slate-dark-400:204deg 6.2% 15.9%;
  --colors-slate-dark-500:200deg 6.5% 18%;
  --colors-slate-dark-600:205.7deg 6.7% 20.6%;
  --colors-slate-dark-700:202.5deg 6.5% 24.3%;
  --colors-slate-dark-800:206.7deg 5.6% 31.6%;
  --colors-slate-dark-900:205.7deg 6.3% 43.9%;
  --colors-slate-dark-1000:207.7deg 5.1% 49.6%;
  --colors-slate-dark-1100:207.3deg 5.8% 62.9%;
  --colors-slate-dark-1200:210deg 5.6% 92.9%;
  --colors-slate-dark-alpha-100:transparent;
  --colors-slate-dark-alpha-200:rgba(213,254,255,.031);
  --colors-slate-dark-alpha-300:rgba(214,251,252,.059);
  --colors-slate-dark-alpha-400:rgba(226,240,253,.078);
  --colors-slate-dark-alpha-500:rgba(223,243,253,.11);
  --colors-slate-dark-alpha-600:rgba(223,239,254,.141);
  --colors-slate-dark-alpha-700:rgba(224,243,255,.18);
  --colors-slate-dark-alpha-800:rgba(229,242,254,.259);
  --colors-slate-dark-alpha-900:rgba(225,241,255,.412);
  --colors-slate-dark-alpha-1000:rgba(231,243,255,.471);
  --colors-slate-dark-alpha-1100:rgba(239,247,255,.62);
  --colors-slate-dark-alpha-1200:rgba(253,254,255,.929);
  --colors-slate-light-100:210deg 33.3% 98.8%;
  --colors-slate-light-200:210deg 16.7% 97.6%;
  --colors-slate-light-300:210deg 16.7% 95.3%;
  --colors-slate-light-400:210deg 11.8% 93.3%;
  --colors-slate-light-500:216deg 11.1% 91.2%;
  --colors-slate-light-600:205.7deg 12.3% 88.8%;
  --colors-slate-light-700:210deg 11.1% 85.9%;
  --colors-slate-light-800:205deg 10.7% 78%;
  --colors-slate-light-900:205.7deg 6.3% 56.1%;
  --colors-slate-light-1000:205.7deg 5.7% 52.2%;
  --colors-slate-light-1100:205.7deg 6.3% 43.5%;
  --colors-slate-light-1200:201.8deg 24.4% 8.8%;
  --colors-slate-light-alpha-100:rgba(5,68,130,.02);
  --colors-slate-light-alpha-200:rgba(5,41,77,.031);
  --colors-slate-light-alpha-300:rgba(0,37,73,.051);
  --colors-slate-light-alpha-400:rgba(2,28,55,.078);
  --colors-slate-light-alpha-500:rgba(2,23,53,.102);
  --colors-slate-light-alpha-600:rgba(1,33,57,.129);
  --colors-slate-light-alpha-700:rgba(0,26,51,.161);
  --colors-slate-light-alpha-800:rgba(1,30,50,.239);
  --colors-slate-light-alpha-900:rgba(0,17,30,.471);
  --colors-slate-light-alpha-1000:rgba(0,16,27,.51);
  --colors-slate-light-alpha-1100:rgba(0,14,24,.588);
  --colors-slate-light-alpha-1200:rgba(0,8,12,.929);
  --variables-colors-brand-primary:153.1deg 60.2% 52.7%;
  --variables-colors-brand-accent:152.9deg 56.1% 46.5%;
  --spacing-scale:2px;
  --spacing-xs:4px;
  --spacing-sm:8px;
  --spacing-md:16px;
  --spacing-lg:32px;
  --spacing-xl:64px;
  --sizing-scale:1.5px;
  --sizing-xs:4px;
  --sizing-sm:6px;
  --sizing-md:9px;
  --sizing-lg:13.5px;
  --sizing-xl:20.25px;
  --borderradius-sm:4px;
  --borderradius-lg:8px;
  --borderradius-xl:16px;
  --borderradius-xs:2px;
  --borderradius-tableheader:4px;
  --borderwidth-none:0;
  --borderwidth-xs:1px;
  --borderwidth-sm:2px;
  --borderwidth-md:4px;
  --borderwidth-lg:8px;
  --icon-xs:12px;
  --icon-sm:16px;
  --icon-md:18px;
  --iconwidth-default:1px;
  --panel:2px;
  --datatable-headericon:16px;
  --datatable-rowheight:28px;
  --options-icon:18px;
  --input-sm-height:28px;
  --panel2:4px;
  --xxl:128px;
  --content-width-screen-xl:1128px;
  --font-family-body:Inter
}

.dark, [data-theme=dark] {
  --helpers-os-appearance:Dark;
  --code-block-5:13.8deg 89.7% 69.6%;
  --code-block-4:276.1deg 67.7% 74.5%;
  --code-block-3:83.8deg 61.7% 63.1%;
  --code-block-2:33.2deg 90.3% 75.7%;
  --code-block-1:170.8deg 43.1% 61.4%;
  --secondary-default:0deg 0% 100%;
  --secondary-400:0deg 0% 100%;
  --secondary-200:0deg 0% 100%;
  --brand-link:153.1deg 60.2% 52.7%;
  --brand-button:151.8deg 47.1% 40.8%;
  --brand-default:153.1deg 60.2% 52.7%;
  --brand-600:153deg 59.5% 70%;
  --brand-500:153.5deg 61.8% 21.6%;
  --brand-400:153.3deg 65.2% 13.5%;
  --brand-300:153.8deg 69.6% 9%;
  --brand-200:152.5deg 75% 6.3%;
  --warning-default:38.9deg 100% 57.1%;
  --warning-600:38.9deg 89.8% 49.8%;
  --warning-500:34.8deg 90.9% 21.6%;
  --warning-400:33.2deg 100% 14.5%;
  --warning-300:32.3deg 100% 10.2%;
  --warning-200:36.8deg 100% 6.1%;
  --destructive-default:10.2deg 77.9% 53.9%;
  --destructive-600:9.7deg 85.2% 62.9%;
  --destructive-500:7.9deg 71.6% 29%;
  --destructive-400:6.7deg 60% 20.6%;
  --destructive-300:7.5deg 51.3% 15.3%;
  --destructive-200:10.9deg 23.4% 9.2%;
  --background-dialog-default:0deg 0% 11%;
  --background-surface-75:0deg 0% 12.5%;
  --background-200:0deg 0% 11%;
  --foreground-contrast:0deg 0% 11%;
  --border-button-hover:var(--colors-gray-dark-800);
  --border-button-default:var(--colors-gray-dark-700);
  --border-stronger:var(--colors-gray-dark-800);
  --border-strong:var(--colors-gray-dark-700);
  --border-alternative:var(--colors-gray-dark-500);
  --border-control:var(--colors-gray-dark-600);
  --border-overlay:var(--colors-gray-dark-500);
  --border-secondary:var(--colors-gray-dark-500);
  --border-muted:var(--colors-gray-dark-500);
  --border-default:var(--colors-gray-dark-600);
  --background-button-default:var(--colors-gray-dark-500);
  --background-muted:var(--colors-gray-dark-400);
  --background-overlay-hover:var(--colors-gray-dark-500);
  --background-overlay-default:var(--colors-gray-dark-300);
  --background-surface-400:var(--colors-gray-dark-700);
  --background-surface-300:var(--colors-gray-dark-500);
  --background-surface-200:var(--colors-gray-dark-400);
  --background-surface-100:var(--colors-gray-dark-300);
  --background-control:var(--colors-gray-dark-300);
  --background-selection:var(--colors-gray-dark-600);
  --background-alternative-default:var(--colors-gray-dark-100);
  --background-alternative-200:var(--colors-gray-dark-200);
  --background-default:var(--colors-gray-dark-200);
  --foreground-muted:var(--colors-gray-dark-900);
  --foreground-lighter:var(--colors-gray-dark-1000);
  --foreground-light:var(--colors-gray-dark-1100);
  --foreground-default:var(--colors-gray-dark-1200)
}
.light,
[data-theme=light] {
  --helpers-os-appearance:Light;
  --code-block-5:14deg 80.4% 58%;
  --code-block-4:276.3deg 60% 52.9%;
  --code-block-3:83.8deg 61.6% 48%;
  --code-block-2:33.1deg 80% 52.9%;
  --code-block-1:170.6deg 43.2% 51%;
  --secondary-default:247.8deg 100% 70%;
  --secondary-400:248.3deg 54.5% 25.9%;
  --secondary-200:248deg 53.6% 11%;
  --brand-link:153.4deg 100% 36.7%;
  --brand-button:151.8deg 47.1% 40.8%;
  --brand-default:152.9deg 60% 52.9%;
  --brand-600:156.5deg 86.5% 26.1%;
  --brand-500:155.3deg 78.4% 40%;
  --brand-400:151.3deg 66.9% 66.9%;
  --brand-300:147.5deg 72% 80.4%;
  --brand-200:147.6deg 72.5% 90%;
  --warning-default:38.9deg 100% 57.1%;
  --warning-600:30.3deg 80.3% 47.8%;
  --warning-500:36.3deg 85.7% 67.1%;
  --warning-400:41.9deg 100% 81.8%;
  --warning-300:44.3deg 100% 91.8%;
  --warning-200:40deg 81.8% 97.8%;
  --destructive-default:10.2deg 77.9% 53.9%;
  --destructive-600:9.9deg 82% 43.5%;
  --destructive-500:10.4deg 77.1% 79.4%;
  --destructive-400:7.1deg 91.3% 91%;
  --destructive-300:7.1deg 100% 96.7%;
  --destructive-200:0deg 100% 99.4%;
  --border-stronger:0deg 0% 56.1%;
  --border-strong:0deg 0% 83.1%;
  --border-default:0deg 0% 87.5%;
  --background-dialog-default:0deg 0% 100%;
  --background-muted:0deg 0% 96.9%;
  --background-surface-400:0deg 0% 89.8%;
  --background-surface-300:0deg 0% 92.9%;
  --background-surface-200:0deg 0% 95.3%;
  --background-surface-100:0deg 0% 98.8%;
  --background-surface-75:0deg 0% 100%;
  --background-alternative-default:0deg 0% 99.2%;
  --background-alternative-200:0deg 0% 100%;
  --foreground-contrast:0deg 0% 98.4%;
  --foreground-muted:0deg 0% 69.8%;
  --foreground-lighter:0deg 0% 43.9%;
  --foreground-light:0deg 0% 32.2%;
  --border-button-hover:var(--colors-gray-light-700);
  --border-button-default:var(--colors-gray-light-600);
  --border-alternative:var(--colors-gray-light-500);
  --border-control:var(--colors-gray-light-800);
  --border-overlay:var(--colors-gray-light-500);
  --border-secondary:var(--colors-gray-light-400);
  --border-muted:var(--colors-gray-light-400);
  --background-button-default:var(--colors-gray-light-100);
  --background-overlay-hover:var(--colors-gray-light-300);
  --background-overlay-default:var(--colors-gray-light-100);
  --background-control:var(--colors-gray-light-300);
  --background-selection:var(--colors-gray-light-400);
  --background-default:var(--colors-gray-light-100);
  --background-200:var(--colors-gray-light-200);
  --foreground-default:var(--colors-gray-light-1200)
}

@media(prefers-color-scheme:dark) {
  .markdown-body,
  [data-theme=dark] {
    color-scheme:dark;
    --color-prettylights-syntax-comment:#8b949e;
    --color-prettylights-syntax-constant:#79c0ff;
    --color-prettylights-syntax-entity:#d2a8ff;
    --color-prettylights-syntax-storage-modifier-import:#c9d1d9;
    --color-prettylights-syntax-entity-tag:#7ee787;
    --color-prettylights-syntax-keyword:#ff7b72;
    --color-prettylights-syntax-string:#a5d6ff;
    --color-prettylights-syntax-variable:#ffa657;
    --color-prettylights-syntax-brackethighlighter-unmatched:#f85149;
    --color-prettylights-syntax-invalid-illegal-text:#f0f6fc;
    --color-prettylights-syntax-invalid-illegal-bg:#8e1519;
    --color-prettylights-syntax-carriage-return-text:#f0f6fc;
    --color-prettylights-syntax-carriage-return-bg:#b62324;
    --color-prettylights-syntax-string-regexp:#7ee787;
    --color-prettylights-syntax-markup-list:#f2cc60;
    --color-prettylights-syntax-markup-heading:#1f6feb;
    --color-prettylights-syntax-markup-italic:#c9d1d9;
    --color-prettylights-syntax-markup-bold:#c9d1d9;
    --color-prettylights-syntax-markup-deleted-text:#ffdcd7;
    --color-prettylights-syntax-markup-deleted-bg:#67060c;
    --color-prettylights-syntax-markup-inserted-text:#aff5b4;
    --color-prettylights-syntax-markup-inserted-bg:#033a16;
    --color-prettylights-syntax-markup-changed-text:#ffdfb6;
    --color-prettylights-syntax-markup-changed-bg:#5a1e02;
    --color-prettylights-syntax-markup-ignored-text:#c9d1d9;
    --color-prettylights-syntax-markup-ignored-bg:#1158c7;
    --color-prettylights-syntax-meta-diff-range:#d2a8ff;
    --color-prettylights-syntax-brackethighlighter-angle:#8b949e;
    --color-prettylights-syntax-sublimelinter-gutter-mark:#484f58;
    --color-prettylights-syntax-constant-other-reference-link:#a5d6ff;
    --color-fg-default:#e6edf3;
    --color-fg-muted:#848d97;
    --color-fg-subtle:#6e7681;
    --color-canvas-default:#0d1117;
    --color-canvas-subtle:#161b22;
    --color-border-default:#30363d;
    --color-border-muted:#21262d;
    --color-neutral-muted:hsla(215,8%,47%,.4);
    --color-accent-fg:#2f81f7;
    --color-accent-emphasis:#1f6feb;
    --color-success-fg:#3fb950;
    --color-success-emphasis:#238636;
    --color-attention-fg:#d29922;
    --color-attention-emphasis:#9e6a03;
    --color-attention-subtle:rgba(187,128,9,.15);
    --color-danger-fg:#f85149;
    --color-danger-emphasis:#da3633;
    --color-done-fg:#a371f7;
    --color-done-emphasis:#8957e5
  }
}
@media(prefers-color-scheme:light) {
  .markdown-body,
  [data-theme=light] {
    color-scheme:light;
    --color-prettylights-syntax-comment:#57606a;
    --color-prettylights-syntax-constant:#0550ae;
    --color-prettylights-syntax-entity:#6639ba;
    --color-prettylights-syntax-storage-modifier-import:#24292f;
    --color-prettylights-syntax-entity-tag:#116329;
    --color-prettylights-syntax-keyword:#cf222e;
    --color-prettylights-syntax-string:#0a3069;
    --color-prettylights-syntax-variable:#953800;
    --color-prettylights-syntax-brackethighlighter-unmatched:#82071e;
    --color-prettylights-syntax-invalid-illegal-text:#f6f8fa;
    --color-prettylights-syntax-invalid-illegal-bg:#82071e;
    --color-prettylights-syntax-carriage-return-text:#f6f8fa;
    --color-prettylights-syntax-carriage-return-bg:#cf222e;
    --color-prettylights-syntax-string-regexp:#116329;
    --color-prettylights-syntax-markup-list:#3b2300;
    --color-prettylights-syntax-markup-heading:#0550ae;
    --color-prettylights-syntax-markup-italic:#24292f;
    --color-prettylights-syntax-markup-bold:#24292f;
    --color-prettylights-syntax-markup-deleted-text:#82071e;
    --color-prettylights-syntax-markup-deleted-bg:#ffebe9;
    --color-prettylights-syntax-markup-inserted-text:#116329;
    --color-prettylights-syntax-markup-inserted-bg:#dafbe1;
    --color-prettylights-syntax-markup-changed-text:#953800;
    --color-prettylights-syntax-markup-changed-bg:#ffd8b5;
    --color-prettylights-syntax-markup-ignored-text:#eaeef2;
    --color-prettylights-syntax-markup-ignored-bg:#0550ae;
    --color-prettylights-syntax-meta-diff-range:#8250df;
    --color-prettylights-syntax-brackethighlighter-angle:#57606a;
    --color-prettylights-syntax-sublimelinter-gutter-mark:#8c959f;
    --color-prettylights-syntax-constant-other-reference-link:#0a3069;
    --color-fg-default:#1f2328;
    --color-fg-muted:#656d76;
    --color-fg-subtle:#6e7781;
    --color-canvas-default:#fff;
    --color-canvas-subtle:#f6f8fa;
    --color-border-default:#d0d7de;
    --color-border-muted:#d8dee4;
    --color-neutral-muted:rgba(175,184,193,.2);
    --color-accent-fg:#0969da;
    --color-accent-emphasis:#0969da;
    --color-success-fg:#1a7f37;
    --color-success-emphasis:#1f883d;
    --color-attention-fg:#9a6700;
    --color-attention-emphasis:#9a6700;
    --color-attention-subtle:#fff8c5;
    --color-danger-fg:#d1242f;
    --color-danger-emphasis:#cf222e;
    --color-done-fg:#8250df;
    --color-done-emphasis:#8250df
  }
}
:root {
  --width-listbox:320px;
  --colors-amber1:#fefdfb;
  --colors-amber2:#fff9ed;
  --colors-amber3:#fff4d5;
  --colors-amber4:#ffecbc;
  --colors-amber5:#ffe3a2;
  --colors-amber6:#ffd386;
  --colors-amber7:#f3ba63;
  --colors-amber8:#ee9d2b;
  --colors-amber9:#ffb224;
  --colors-amber10:#ffa01c;
  --colors-amber11:#ad5700;
  --colors-amber12:#4e2009;
  --colors-amberA1:rgba(192,130,5,.016);
  --colors-amberA2:rgba(255,171,2,.071);
  --colors-amberA3:rgba(255,187,1,.165);
  --colors-amberA4:rgba(255,183,0,.263);
  --colors-amberA5:rgba(255,179,0,.365);
  --colors-amberA6:rgba(255,162,1,.475);
  --colors-amberA7:rgba(236,141,0,.612);
  --colors-amberA8:rgba(234,137,0,.832);
  --colors-amberA9:rgba(255,166,0,.859);
  --colors-amberA10:rgba(255,149,0,.891);
  --colors-amberA11:rgba(171,83,0,.98);
  --colors-amberA12:rgba(72,24,0,.965);
  --colors-blackA1:rgba(0,0,0,.012);
  --colors-blackA2:rgba(0,0,0,.027);
  --colors-blackA3:rgba(0,0,0,.047);
  --colors-blackA4:rgba(0,0,0,.071);
  --colors-blackA5:rgba(0,0,0,.09);
  --colors-blackA6:rgba(0,0,0,.114);
  --colors-blackA7:rgba(0,0,0,.141);
  --colors-blackA8:rgba(0,0,0,.22);
  --colors-blackA9:rgba(0,0,0,.439);
  --colors-blackA10:rgba(0,0,0,.478);
  --colors-blackA11:rgba(0,0,0,.565);
  --colors-blackA12:rgba(0,0,0,.91);
  --colors-blue1:#fbfdff;
  --colors-blue2:#f5faff;
  --colors-blue3:#edf6ff;
  --colors-blue4:#e1f0ff;
  --colors-blue5:#cee7fe;
  --colors-blue6:#b7d9f8;
  --colors-blue7:#96c7f2;
  --colors-blue8:#5eb0ef;
  --colors-blue9:#0091ff;
  --colors-blue10:#0081f1;
  --colors-blue11:#006adc;
  --colors-blue12:#00254d;
  --colors-blueA1:rgba(5,130,255,.016);
  --colors-blueA2:rgba(5,130,255,.04);
  --colors-blueA3:rgba(2,128,255,.071);
  --colors-blueA4:rgba(1,128,255,.118);
  --colors-blueA5:rgba(1,128,239,.189);
  --colors-blueA6:rgba(1,119,230,.283);
  --colors-blueA7:rgba(0,119,223,.412);
  --colors-blueA8:rgba(0,130,230,.632);
  --colors-blueA9:rgba(0,145,255,.98);
  --colors-blueA10:rgba(0,128,241,.98);
  --colors-blueA11:rgba(0,102,219,.98);
  --colors-blueA12:rgba(0,33,73,.98);
  --colors-crimson1:#fffcfd;
  --colors-crimson2:#fff7fb;
  --colors-crimson3:#feeff6;
  --colors-crimson4:#fce5f0;
  --colors-crimson5:#f9d8e7;
  --colors-crimson6:#f4c6db;
  --colors-crimson7:#edadc8;
  --colors-crimson8:#e58fb1;
  --colors-crimson9:#e93d82;
  --colors-crimson10:#e03177;
  --colors-crimson11:#d31e66;
  --colors-crimson12:#3d0d1d;
  --colors-crimsonA1:rgba(255,5,88,.012);
  --colors-crimsonA2:rgba(255,5,130,.032);
  --colors-crimsonA3:rgba(239,1,112,.063);
  --colors-crimsonA4:rgba(226,0,109,.102);
  --colors-crimsonA5:rgba(216,0,97,.153);
  --colors-crimsonA6:rgba(206,1,93,.224);
  --colors-crimsonA7:rgba(199,0,83,.322);
  --colors-crimsonA8:rgba(196,0,79,.44);
  --colors-crimsonA9:rgba(226,0,90,.761);
  --colors-crimsonA10:rgba(217,0,87,.808);
  --colors-crimsonA11:rgba(205,0,82,.883);
  --colors-crimsonA12:rgba(51,0,17,.95);
  --colors-gold1:#fdfdfc;
  --colors-gold2:#fbf9f2;
  --colors-gold3:#f5f2e9;
  --colors-gold4:#eeeadd;
  --colors-gold5:#e5dfd0;
  --colors-gold6:#dad1bd;
  --colors-gold7:#cbbda4;
  --colors-gold8:#b8a383;
  --colors-gold9:#978365;
  --colors-gold10:#8c795d;
  --colors-gold11:#776750;
  --colors-gold12:#3b352b;
  --colors-goldA1:rgba(88,88,5,.012);
  --colors-goldA2:rgba(176,138,0,.051);
  --colors-goldA3:rgba(140,106,2,.087);
  --colors-goldA4:rgba(128,99,1,.134);
  --colors-goldA5:rgba(114,82,1,.185);
  --colors-goldA6:rgba(112,77,0,.259);
  --colors-goldA7:rgba(110,69,0,.357);
  --colors-goldA8:rgba(109,66,0,.487);
  --colors-goldA9:rgba(83,50,0,.604);
  --colors-goldA10:rgba(74,45,0,.636);
  --colors-goldA11:rgba(57,33,0,.687);
  --colors-goldA12:rgba(19,12,0,.832);
  --colors-gray1:#fcfcfc;
  --colors-gray2:#f8f8f8;
  --colors-gray3:#f3f3f3;
  --colors-gray4:#ededed;
  --colors-gray5:#e8e8e8;
  --colors-gray6:#e2e2e2;
  --colors-gray7:#dbdbdb;
  --colors-gray8:#c7c7c7;
  --colors-gray9:#8f8f8f;
  --colors-gray10:#858585;
  --colors-gray11:#6f6f6f;
  --colors-gray12:#171717;
  --colors-grayA1:rgba(0,0,0,.012);
  --colors-grayA2:rgba(0,0,0,.027);
  --colors-grayA3:rgba(0,0,0,.047);
  --colors-grayA4:rgba(0,0,0,.071);
  --colors-grayA5:rgba(0,0,0,.09);
  --colors-grayA6:rgba(0,0,0,.114);
  --colors-grayA7:rgba(0,0,0,.141);
  --colors-grayA8:rgba(0,0,0,.22);
  --colors-grayA9:rgba(0,0,0,.439);
  --colors-grayA10:rgba(0,0,0,.478);
  --colors-grayA11:rgba(0,0,0,.565);
  --colors-grayA12:rgba(0,0,0,.91);
  --colors-green1:#fbfefc;
  --colors-green2:#f2fcf5;
  --colors-green3:#e9f9ee;
  --colors-green4:#ddf3e4;
  --colors-green5:#ccebd7;
  --colors-green6:#b4dfc4;
  --colors-green7:#92ceac;
  --colors-green8:#5bb98c;
  --colors-green9:#30a46c;
  --colors-green10:#299764;
  --colors-green11:#18794e;
  --colors-green12:#153226;
  --colors-greenA1:rgba(5,192,67,.016);
  --colors-greenA2:rgba(0,196,59,.051);
  --colors-greenA3:rgba(2,186,60,.087);
  --colors-greenA4:rgba(1,166,53,.134);
  --colors-greenA5:rgba(0,155,54,.2);
  --colors-greenA6:rgba(1,147,54,.295);
  --colors-greenA7:rgba(0,140,61,.428);
  --colors-greenA8:rgba(0,147,76,.644);
  --colors-greenA9:rgba(0,143,74,.812);
  --colors-greenA10:rgba(0,131,70,.84);
  --colors-greenA11:rgba(0,107,59,.906);
  --colors-greenA12:rgba(0,32,18,.918);
  --colors-indigo1:#fdfdfe;
  --colors-indigo2:#f8faff;
  --colors-indigo3:#f0f4ff;
  --colors-indigo4:#e6edfe;
  --colors-indigo5:#d9e2fc;
  --colors-indigo6:#c6d4f9;
  --colors-indigo7:#aec0f5;
  --colors-indigo8:#8da4ef;
  --colors-indigo9:#3e63dd;
  --colors-indigo10:#3a5ccc;
  --colors-indigo11:#3451b2;
  --colors-indigo12:#101d46;
  --colors-indigoA1:rgba(5,5,130,.008);
  --colors-indigoA2:rgba(5,76,255,.028);
  --colors-indigoA3:rgba(1,68,255,.059);
  --colors-indigoA4:rgba(2,71,245,.099);
  --colors-indigoA5:rgba(2,60,235,.15);
  --colors-indigoA6:rgba(1,61,228,.224);
  --colors-indigoA7:rgba(0,56,224,.318);
  --colors-indigoA8:rgba(1,52,219,.448);
  --colors-indigoA9:rgba(0,49,210,.757);
  --colors-indigoA10:rgba(0,44,189,.773);
  --colors-indigoA11:rgba(0,37,158,.797);
  --colors-indigoA12:rgba(0,14,58,.938);
  --colors-orange1:#fefcfb;
  --colors-orange2:#fef8f4;
  --colors-orange3:#fff1e7;
  --colors-orange4:#ffe8d7;
  --colors-orange5:#ffdcc3;
  --colors-orange6:#ffcca7;
  --colors-orange7:#ffb381;
  --colors-orange8:#fa934e;
  --colors-orange9:#f76808;
  --colors-orange10:#ed5f00;
  --colors-orange11:#bd4b00;
  --colors-orange12:#451e11;
  --colors-orangeA1:rgba(192,67,5,.016);
  --colors-orangeA2:rgba(232,96,5,.044);
  --colors-orangeA3:rgba(255,108,3,.095);
  --colors-orangeA4:rgba(255,111,0,.157);
  --colors-orangeA5:rgba(255,107,1,.236);
  --colors-orangeA6:rgba(255,107,1,.346);
  --colors-orangeA7:rgba(255,102,1,.495);
  --colors-orangeA8:rgba(248,99,0,.695);
  --colors-orangeA9:rgba(247,99,0,.969);
  --colors-orangeA10:rgba(237,91,0,.98);
  --colors-orangeA11:rgba(188,72,0,.98);
  --colors-orangeA12:rgba(56,14,0,.934);
  --colors-pink1:#fffcfe;
  --colors-pink2:#fff7fc;
  --colors-pink3:#feeef8;
  --colors-pink4:#fce5f3;
  --colors-pink5:#f9d8ec;
  --colors-pink6:#f3c6e2;
  --colors-pink7:#ecadd4;
  --colors-pink8:#e38ec3;
  --colors-pink9:#d6409f;
  --colors-pink10:#d23197;
  --colors-pink11:#cd1d8d;
  --colors-pink12:#3b0a2a;
  --colors-pinkA1:rgba(255,5,172,.012);
  --colors-pinkA2:rgba(255,5,159,.032);
  --colors-pinkA3:rgba(240,1,148,.067);
  --colors-pinkA4:rgba(226,0,139,.102);
  --colors-pinkA5:rgba(216,0,129,.153);
  --colors-pinkA6:rgba(201,1,124,.224);
  --colors-pinkA7:rgba(196,0,121,.322);
  --colors-pinkA8:rgba(192,0,118,.444);
  --colors-pinkA9:rgba(200,0,127,.75);
  --colors-pinkA10:rgba(199,0,126,.808);
  --colors-pinkA11:rgba(199,0,126,.887);
  --colors-pinkA12:rgba(51,0,33,.961);
  --colors-purple1:#fefcfe;
  --colors-purple2:#fdfaff;
  --colors-purple3:#f9f1fe;
  --colors-purple4:#f3e7fc;
  --colors-purple5:#eddbf9;
  --colors-purple6:#e3ccf4;
  --colors-purple7:#d3b4ed;
  --colors-purple8:#be93e4;
  --colors-purple9:#8e4ec6;
  --colors-purple10:#8445bc;
  --colors-purple11:#793aaf;
  --colors-purple12:#2b0e44;
  --colors-purpleA1:rgba(171,5,171,.012);
  --colors-purpleA2:rgba(155,5,255,.02);
  --colors-purpleA3:rgba(146,0,237,.055);
  --colors-purpleA4:rgba(128,2,224,.095);
  --colors-purpleA5:rgba(128,1,213,.142);
  --colors-purpleA6:rgba(117,0,200,.2);
  --colors-purpleA7:rgba(107,1,194,.295);
  --colors-purpleA8:rgba(102,0,191,.424);
  --colors-purpleA9:rgba(92,0,173,.695);
  --colors-purpleA10:rgba(87,0,163,.73);
  --colors-purpleA11:rgba(81,0,151,.773);
  --colors-purpleA12:rgba(31,0,57,.946);
  --colors-red1:#fffcfc;
  --colors-red2:#fff8f8;
  --colors-red3:#ffefef;
  --colors-red4:#ffe5e5;
  --colors-red5:#fdd8d8;
  --colors-red6:#f9c6c6;
  --colors-red7:#f3aeaf;
  --colors-red8:#eb9091;
  --colors-red9:#e5484d;
  --colors-red10:#dc3d43;
  --colors-red11:#cd2b31;
  --colors-red12:#381316;
  --colors-redA1:rgba(255,5,5,.012);
  --colors-redA2:rgba(255,5,5,.032);
  --colors-redA3:rgba(255,1,1,.063);
  --colors-redA4:rgba(255,0,0,.102);
  --colors-redA5:rgba(242,0,0,.153);
  --colors-redA6:rgba(228,1,1,.224);
  --colors-redA7:rgba(217,0,4,.318);
  --colors-redA8:rgba(209,0,4,.436);
  --colors-redA9:rgba(219,0,7,.718);
  --colors-redA10:rgba(209,0,7,.761);
  --colors-redA11:rgba(195,0,7,.832);
  --colors-redA12:rgba(40,0,3,.926);
  --colors-slate1:#fbfcfd;
  --colors-slate2:#f8f9fa;
  --colors-slate3:#f1f3f5;
  --colors-slate4:#eceef0;
  --colors-slate5:#e6e8eb;
  --colors-slate6:#dfe3e6;
  --colors-slate7:#d7dbdf;
  --colors-slate8:#c1c8cd;
  --colors-slate9:#889096;
  --colors-slate10:#7e868c;
  --colors-slate11:#687076;
  --colors-slate12:#11181c;
  --colors-slateA1:rgba(5,68,130,.016);
  --colors-slateA2:rgba(5,41,77,.028);
  --colors-slateA3:rgba(0,37,73,.055);
  --colors-slateA4:rgba(2,28,55,.075);
  --colors-slateA5:rgba(2,23,53,.099);
  --colors-slateA6:rgba(1,33,57,.126);
  --colors-slateA7:rgba(0,26,51,.157);
  --colors-slateA8:rgba(1,30,50,.244);
  --colors-slateA9:rgba(0,17,30,.467);
  --colors-slateA10:rgba(0,16,27,.506);
  --colors-slateA11:rgba(0,14,24,.593);
  --colors-slateA12:rgba(0,8,12,.934);
  --colors-tomato1:#fffcfc;
  --colors-tomato2:#fff8f7;
  --colors-tomato3:#fff0ee;
  --colors-tomato4:#ffe6e2;
  --colors-tomato5:#fdd8d3;
  --colors-tomato6:#fac7be;
  --colors-tomato7:#f3b0a2;
  --colors-tomato8:#ea9280;
  --colors-tomato9:#e54d2e;
  --colors-tomato10:#db4324;
  --colors-tomato11:#ca3214;
  --colors-tomato12:#341711;
  --colors-tomatoA1:rgba(255,5,5,.012);
  --colors-tomatoA2:rgba(255,38,5,.032);
  --colors-tomatoA3:rgba(255,31,1,.067);
  --colors-tomatoA4:rgba(255,34,1,.114);
  --colors-tomatoA5:rgba(244,29,1,.173);
  --colors-tomatoA6:rgba(236,35,0,.255);
  --colors-tomatoA7:rgba(222,37,0,.365);
  --colors-tomatoA8:rgba(213,36,1,.499);
  --colors-tomatoA9:rgba(223,37,0,.82);
  --colors-tomatoA10:rgba(213,36,0,.859);
  --colors-tomatoA11:rgba(198,33,0,.922);
  --colors-tomatoA12:rgba(38,6,0,.934);
  --colors-violet1:#fdfcfe;
  --colors-violet2:#fbfaff;
  --colors-violet3:#f5f2ff;
  --colors-violet4:#ede9fe;
  --colors-violet5:#e4defc;
  --colors-violet6:#d7cff9;
  --colors-violet7:#c4b8f3;
  --colors-violet8:#aa99ec;
  --colors-violet9:#6e56cf;
  --colors-violet10:#644fc1;
  --colors-violet11:#5746af;
  --colors-violet12:#20134b;
  --colors-violetA1:rgba(88,5,171,.012);
  --colors-violetA2:rgba(55,5,255,.02);
  --colors-violetA3:rgba(60,0,255,.051);
  --colors-violetA4:rgba(46,2,244,.087);
  --colors-violetA5:rgba(47,1,232,.13);
  --colors-violetA6:rgba(42,1,223,.189);
  --colors-violetA7:rgba(43,1,212,.279);
  --colors-violetA8:rgba(42,0,208,.4);
  --colors-violetA9:rgba(37,0,182,.663);
  --colors-violetA10:rgba(31,0,165,.691);
  --colors-violetA11:rgba(24,0,145,.726);
  --colors-violetA12:rgba(14,0,61,.926);
  --colors-whiteA1:hsla(0,0%,100%,0);
  --colors-whiteA2:hsla(0,0%,100%,.013);
  --colors-whiteA3:hsla(0,0%,100%,.034);
  --colors-whiteA4:hsla(0,0%,100%,.056);
  --colors-whiteA5:hsla(0,0%,100%,.086);
  --colors-whiteA6:hsla(0,0%,100%,.124);
  --colors-whiteA7:hsla(0,0%,100%,.176);
  --colors-whiteA8:hsla(0,0%,100%,.249);
  --colors-whiteA9:hsla(0,0%,100%,.386);
  --colors-whiteA10:hsla(0,0%,100%,.446);
  --colors-whiteA11:hsla(0,0%,100%,.592);
  --colors-whiteA12:hsla(0,0%,100%,.923);
  --colors-yellow1:#fdfdf9;
  --colors-yellow2:#fffce8;
  --colors-yellow3:#fffbd1;
  --colors-yellow4:#fff8bb;
  --colors-yellow5:#fef2a4;
  --colors-yellow6:#f9e68c;
  --colors-yellow7:#efd36c;
  --colors-yellow8:#ebbc00;
  --colors-yellow9:#f5d90a;
  --colors-yellow10:#f7ce00;
  --colors-yellow11:#946800;
  --colors-yellow12:#35290f;
  --colors-yellowA1:transparent;
  --colors-yellowA2:rgba(250,205,0,.027);
  --colors-yellowA3:rgba(253,190,0,.071);
  --colors-yellowA4:rgba(253,194,0,.111);
  --colors-yellowA5:rgba(254,199,0,.15);
  --colors-yellowA6:rgba(254,216,0,.199);
  --colors-yellowA7:rgba(255,219,19,.269);
  --colors-yellowA8:rgba(254,216,0,.371);
  --colors-yellowA9:rgba(255,226,10,.956);
  --colors-yellowA10:rgba(255,244,94,.98);
  --colors-yellowA11:rgba(255,204,0,.934);
  --colors-yellowA12:rgba(255,255,213,.98);
  --colors-brand1:#fafefd;
  --colors-brand2:#f1fef7;
  --colors-brand3:#e9fcf2;
  --colors-brand4:#ddf8ea;
  --colors-brand5:#cef2df;
  --colors-brand6:#bde5d0;
  --colors-brand7:#8ed2af;
  --colors-brand8:#34b27b;
  --colors-brand9:#3fcf8e;
  --colors-brand10:#40bf86;
  --colors-brand11:#2b825b;
  --colors-brand12:#122b20;
  --colors-brand-hiContrast:hsl(var(--brand-default));
  --colors-brand-loContrast:hsl(var(--brand-300));
  --colors-scale1:var(--colors-slate1);
  --colors-scale2:var(--colors-slate2);
  --colors-scale3:var(--colors-slate3);
  --colors-scale4:var(--colors-slate4);
  --colors-scale5:var(--colors-slate5);
  --colors-scale6:var(--colors-slate6);
  --colors-scale7:var(--colors-slate7);
  --colors-scale8:var(--colors-slate8);
  --colors-scale9:var(--colors-slate9);
  --colors-scale10:var(--colors-slate10);
  --colors-scale11:var(--colors-slate11);
  --colors-scale12:var(--colors-slate12);
  --colors-fixed-scale1:var(--colors-slate1);
  --colors-fixed-scale2:var(--colors-slate2);
  --colors-fixed-scale3:var(--colors-slate3);
  --colors-fixed-scale4:var(--colors-slate4);
  --colors-fixed-scale5:var(--colors-slate5);
  --colors-fixed-scale6:var(--colors-slate6);
  --colors-fixed-scale7:var(--colors-slate7);
  --colors-fixed-scale8:var(--colors-slate8);
  --colors-fixed-scale9:var(--colors-slate9);
  --colors-fixed-scale10:var(--colors-slate10);
  --colors-fixed-scale11:var(--colors-slate11);
  --colors-fixed-scale12:var(--colors-slate12);
  --colors-fixed-scaleA1:var(--colors-slateA1);
  --colors-fixed-scaleA2:var(--colors-slateA2);
  --colors-fixed-scaleA3:var(--colors-slateA3);
  --colors-fixed-scaleA4:var(--colors-slateA4);
  --colors-fixed-scaleA5:var(--colors-slateA5);
  --colors-fixed-scaleA6:var(--colors-slateA6);
  --colors-fixed-scaleA7:var(--colors-slateA7);
  --colors-fixed-scaleA8:var(--colors-slateA8);
  --colors-fixed-scaleA9:var(--colors-slateA9);
  --colors-fixed-scaleA10:var(--colors-slateA10);
  --colors-fixed-scaleA11:var(--colors-slateA11);
  --colors-fixed-scaleA12:var(--colors-slateA12);
  --colors-scaleA1:var(--colors-slateA1);
  --colors-scaleA2:var(--colors-slateA2);
  --colors-scaleA3:var(--colors-slateA3);
  --colors-scaleA4:var(--colors-slateA4);
  --colors-scaleA5:var(--colors-slateA5);
  --colors-scaleA6:var(--colors-slateA6);
  --colors-scaleA7:var(--colors-slateA7);
  --colors-scaleA8:var(--colors-slateA8);
  --colors-scaleA9:var(--colors-slateA9);
  --colors-scaleA10:var(--colors-slateA10);
  --colors-scaleA11:var(--colors-slateA11);
  --colors-scaleA12:var(--colors-slateA12)
}

[data-theme*=dark] {
  --colors-amber1:#1f1300;
  --colors-amber2:#271700;
  --colors-amber3:#341c00;
  --colors-amber4:#3f2200;
  --colors-amber5:#4a2900;
  --colors-amber6:#573300;
  --colors-amber7:#693f05;
  --colors-amber8:#824e00;
  --colors-amber9:#ffb224;
  --colors-amber10:#ffcb47;
  --colors-amber11:#f1a10d;
  --colors-amber12:#fef3dd;
  --colors-amberA1:transparent;
  --colors-amberA2:rgba(253,131,0,.036);
  --colors-amberA3:rgba(254,115,0,.094);
  --colors-amberA4:rgba(255,123,0,.143);
  --colors-amberA5:rgba(255,132,0,.192);
  --colors-amberA6:rgba(255,149,0,.25);
  --colors-amberA7:rgba(255,151,15,.331);
  --colors-amberA8:rgba(255,153,0,.442);
  --colors-amberA9:rgba(255,182,37,.98);
  --colors-amberA10:rgba(255,206,72,.98);
  --colors-amberA11:rgba(255,171,14,.938);
  --colors-amberA12:rgba(255,248,225,.98);
  --colors-blue1:#0f1720;
  --colors-blue2:#0f1b2d;
  --colors-blue3:#10243e;
  --colors-blue4:#102a4c;
  --colors-blue5:#0f3058;
  --colors-blue6:#0d3868;
  --colors-blue7:#0a4481;
  --colors-blue8:#0954a5;
  --colors-blue9:#0091ff;
  --colors-blue10:#369eff;
  --colors-blue11:#52a9ff;
  --colors-blue12:#eaf6ff;
  --colors-blueA1:transparent;
  --colors-blueA2:rgba(15,90,252,.059);
  --colors-blueA3:rgba(22,119,254,.135);
  --colors-blueA4:rgba(20,118,254,.198);
  --colors-blueA5:rgba(15,123,254,.252);
  --colors-blueA6:rgba(9,124,255,.323);
  --colors-blueA7:rgba(4,125,255,.435);
  --colors-blueA8:rgba(5,126,255,.597);
  --colors-blueA9:rgba(0,149,255,.98);
  --colors-blueA10:rgba(55,161,255,.98);
  --colors-blueA11:rgba(83,172,255,.98);
  --colors-blueA12:rgba(239,251,255,.98);
  --colors-crimson1:#1d1418;
  --colors-crimson2:#27141c;
  --colors-crimson3:#3c1827;
  --colors-crimson4:#481a2d;
  --colors-crimson5:#541b33;
  --colors-crimson6:#641d3b;
  --colors-crimson7:#801d45;
  --colors-crimson8:#ae1955;
  --colors-crimson9:#e93d82;
  --colors-crimson10:#f04f88;
  --colors-crimson11:#f76190;
  --colors-crimson12:#feecf4;
  --colors-crimsonA1:transparent;
  --colors-crimsonA2:rgba(251,20,113,.045);
  --colors-crimsonA3:rgba(254,49,134,.138);
  --colors-crimsonA4:rgba(254,51,132,.191);
  --colors-crimsonA5:rgba(254,49,134,.244);
  --colors-crimsonA6:rgba(254,49,134,.315);
  --colors-crimsonA7:rgba(254,40,126,.439);
  --colors-crimsonA8:rgba(255,28,119,.642);
  --colors-crimsonA9:rgba(255,65,141,.903);
  --colors-crimsonA10:rgba(255,83,143,.934);
  --colors-crimsonA11:rgba(255,100,149,.965);
  --colors-crimsonA12:rgba(255,240,248,.98);
  --colors-gold1:#171613;
  --colors-gold2:#1c1a15;
  --colors-gold3:#26231c;
  --colors-gold4:#2e2a21;
  --colors-gold5:#353026;
  --colors-gold6:#3e382c;
  --colors-gold7:#504737;
  --colors-gold8:#6b5d48;
  --colors-gold9:#978365;
  --colors-gold10:#a59071;
  --colors-gold11:#bfa888;
  --colors-gold12:#f7f4e7;
  --colors-goldA1:transparent;
  --colors-goldA2:hsla(40,94%,71%,.022);
  --colors-goldA3:hsla(40,97%,81%,.065);
  --colors-goldA4:hsla(40,96%,81%,.1);
  --colors-goldA5:hsla(38,97%,82%,.13);
  --colors-goldA6:hsla(39,97%,83%,.169);
  --colors-goldA7:hsla(37,99%,82%,.246);
  --colors-goldA8:hsla(35,99%,82%,.363);
  --colors-goldA9:rgba(255,220,167,.552);
  --colors-goldA10:hsla(35,99%,84%,.613);
  --colors-goldA11:hsla(35,99%,85%,.725);
  --colors-goldA12:hsla(49,99%,97%,.966);
  --colors-gray1:#161616;
  --colors-gray2:#1c1c1c;
  --colors-gray3:#232323;
  --colors-gray4:#282828;
  --colors-gray5:#2e2e2e;
  --colors-gray6:#343434;
  --colors-gray7:#3e3e3e;
  --colors-gray8:#505050;
  --colors-gray9:#707070;
  --colors-gray10:#7e7e7e;
  --colors-gray11:#a0a0a0;
  --colors-gray12:#ededed;
  --colors-grayA1:hsla(0,0%,100%,0);
  --colors-grayA2:hsla(0,0%,100%,.026);
  --colors-grayA3:hsla(0,0%,100%,.056);
  --colors-grayA4:hsla(0,0%,100%,.077);
  --colors-grayA5:hsla(0,0%,100%,.103);
  --colors-grayA6:hsla(0,0%,100%,.129);
  --colors-grayA7:hsla(0,0%,100%,.172);
  --colors-grayA8:hsla(0,0%,100%,.249);
  --colors-grayA9:hsla(0,0%,100%,.386);
  --colors-grayA10:hsla(0,0%,100%,.446);
  --colors-grayA11:hsla(0,0%,100%,.592);
  --colors-grayA12:hsla(0,0%,100%,.923);
  --colors-green1:#0d1912;
  --colors-green2:#0c1f17;
  --colors-green3:#0f291e;
  --colors-green4:#113123;
  --colors-green5:#133929;
  --colors-green6:#164430;
  --colors-green7:#1b543a;
  --colors-green8:#236e4a;
  --colors-green9:#30a46c;
  --colors-green10:#3cb179;
  --colors-green11:#4cc38a;
  --colors-green12:#e5fbeb;
  --colors-greenA1:transparent;
  --colors-greenA2:rgba(0,247,202,.027);
  --colors-greenA3:rgba(42,254,190,.07);
  --colors-greenA4:rgba(51,254,179,.105);
  --colors-greenA5:rgba(56,254,181,.14);
  --colors-greenA6:rgba(61,255,177,.187);
  --colors-greenA7:rgba(67,255,173,.257);
  --colors-greenA8:rgba(73,255,170,.37);
  --colors-greenA9:rgba(71,255,166,.605);
  --colors-greenA10:rgba(84,255,175,.661);
  --colors-greenA11:rgba(98,255,179,.74);
  --colors-greenA12:rgba(234,255,240,.98);
  --colors-indigo1:#131620;
  --colors-indigo2:#15192d;
  --colors-indigo3:#192140;
  --colors-indigo4:#1c274f;
  --colors-indigo5:#1f2c5c;
  --colors-indigo6:#22346e;
  --colors-indigo7:#273e89;
  --colors-indigo8:#2f4eb2;
  --colors-indigo9:#3e63dd;
  --colors-indigo10:#5373e7;
  --colors-indigo11:#849dff;
  --colors-indigo12:#eef1fd;
  --colors-indigoA1:transparent;
  --colors-indigoA2:rgba(53,73,252,.059);
  --colors-indigoA3:rgba(60,99,254,.144);
  --colors-indigoA4:rgba(61,103,255,.211);
  --colors-indigoA5:rgba(63,105,254,.27);
  --colors-indigoA6:rgba(62,107,255,.35);
  --colors-indigoA7:rgba(61,106,255,.471);
  --colors-indigoA8:rgba(62,107,255,.655);
  --colors-indigoA9:rgba(69,113,255,.848);
  --colors-indigoA10:rgba(90,126,255,.893);
  --colors-indigoA11:rgba(134,160,255,.98);
  --colors-indigoA12:rgba(242,245,255,.98);
  --colors-orange1:#1f1206;
  --colors-orange2:#2b1400;
  --colors-orange3:#391a03;
  --colors-orange4:#441f04;
  --colors-orange5:#4f2305;
  --colors-orange6:#5f2a06;
  --colors-orange7:#763205;
  --colors-orange8:#943e00;
  --colors-orange9:#f76808;
  --colors-orange10:#ff802b;
  --colors-orange11:#ff8b3e;
  --colors-orange12:#feeadd;
  --colors-orangeA1:transparent;
  --colors-orangeA2:rgba(253,55,0,.054);
  --colors-orangeA3:rgba(253,84,0,.117);
  --colors-orangeA4:rgba(254,97,0,.166);
  --colors-orangeA5:rgba(254,98,1,.215);
  --colors-orangeA6:rgba(255,101,6,.286);
  --colors-orangeA7:rgba(255,100,3,.389);
  --colors-orangeA8:rgba(254,102,0,.523);
  --colors-orangeA9:rgba(255,107,8,.965);
  --colors-orangeA10:rgba(255,132,44,.98);
  --colors-orangeA11:rgba(255,140,63,.98);
  --colors-orangeA12:rgba(255,238,225,.98);
  --colors-pink1:#1f121b;
  --colors-pink2:#271421;
  --colors-pink3:#3a182f;
  --colors-pink4:#451a37;
  --colors-pink5:#501b3f;
  --colors-pink6:#601d48;
  --colors-pink7:#7a1d5a;
  --colors-pink8:#a71873;
  --colors-pink9:#d6409f;
  --colors-pink10:#e34ba9;
  --colors-pink11:#f65cb6;
  --colors-pink12:#feebf7;
  --colors-pinkA1:transparent;
  --colors-pinkA2:rgba(253,74,193,.036);
  --colors-pinkA3:rgba(254,68,192,.121);
  --colors-pinkA4:rgba(255,65,191,.17);
  --colors-pinkA5:rgba(255,59,193,.219);
  --colors-pinkA6:rgba(254,56,182,.291);
  --colors-pinkA7:rgba(255,45,181,.407);
  --colors-pinkA8:rgba(255,28,172,.608);
  --colors-pinkA9:rgba(255,74,189,.817);
  --colors-pinkA10:rgba(255,83,189,.875);
  --colors-pinkA11:rgba(255,95,188,.96);
  --colors-pinkA12:rgba(255,239,251,.98);
  --colors-purple1:#1b141d;
  --colors-purple2:#221527;
  --colors-purple3:#301a3a;
  --colors-purple4:#3a1e48;
  --colors-purple5:#432155;
  --colors-purple6:#4e2667;
  --colors-purple7:#5f2d84;
  --colors-purple8:#7938b2;
  --colors-purple9:#8e4ec6;
  --colors-purple10:#9d5bd2;
  --colors-purple11:#bf7af0;
  --colors-purple12:#f7ecfc;
  --colors-purpleA1:transparent;
  --colors-purpleA2:rgba(181,42,251,.045);
  --colors-purpleA3:rgba(188,67,254,.129);
  --colors-purpleA4:rgba(190,72,254,.191);
  --colors-purpleA5:rgba(188,73,255,.248);
  --colors-purpleA6:rgba(183,75,255,.328);
  --colors-purpleA7:rgba(177,75,255,.456);
  --colors-purpleA8:rgba(171,75,255,.66);
  --colors-purpleA9:rgba(181,97,255,.748);
  --colors-purpleA10:rgba(189,109,255,.801);
  --colors-purpleA11:rgba(203,129,255,.934);
  --colors-purpleA12:rgba(252,240,255,.98);
  --colors-red1:#1f1315;
  --colors-red2:#291415;
  --colors-red3:#3c181a;
  --colors-red4:#481a1d;
  --colors-red5:#541b1f;
  --colors-red6:#671e22;
  --colors-red7:#822025;
  --colors-red8:#aa2429;
  --colors-red9:#e5484d;
  --colors-red10:#f2555a;
  --colors-red11:#ff6369;
  --colors-red12:#feecee;
  --colors-redA1:transparent;
  --colors-redA2:rgba(253,40,21,.045);
  --colors-redA3:rgba(254,58,61,.13);
  --colors-redA4:rgba(254,57,64,.184);
  --colors-redA5:rgba(255,53,63,.237);
  --colors-redA6:rgba(255,53,60,.322);
  --colors-redA7:rgba(255,48,59,.442);
  --colors-redA8:rgba(255,47,54,.621);
  --colors-redA9:rgba(255,79,85,.884);
  --colors-redA10:rgba(255,89,95,.942);
  --colors-redA11:rgba(255,100,106,.98);
  --colors-redA12:rgba(255,240,242,.98);
  --colors-slate1:#151718;
  --colors-slate2:#1a1d1e;
  --colors-slate3:#202425;
  --colors-slate4:#26292b;
  --colors-slate5:#2b2f31;
  --colors-slate6:#313538;
  --colors-slate7:#3a3f42;
  --colors-slate8:#4c5155;
  --colors-slate9:#697177;
  --colors-slate10:#787f85;
  --colors-slate11:#9ba1a6;
  --colors-slate12:#ecedee;
  --colors-slateA1:transparent;
  --colors-slateA2:rgba(213,254,255,.026);
  --colors-slateA3:rgba(214,251,252,.057);
  --colors-slateA4:rgba(226,240,253,.083);
  --colors-slateA5:rgba(223,243,253,.109);
  --colors-slateA6:rgba(223,239,254,.139);
  --colors-slateA7:rgba(224,243,255,.182);
  --colors-slateA8:rgba(229,242,254,.265);
  --colors-slateA9:rgba(225,241,255,.412);
  --colors-slateA10:rgba(231,243,255,.472);
  --colors-slateA11:rgba(239,247,255,.615);
  --colors-slateA12:rgba(253,254,255,.927);
  --colors-tomato1:#1d1412;
  --colors-tomato2:#2a1410;
  --colors-tomato3:#3b1813;
  --colors-tomato4:#481a14;
  --colors-tomato5:#541c15;
  --colors-tomato6:#652016;
  --colors-tomato7:#7f2315;
  --colors-tomato8:#a42a12;
  --colors-tomato9:#e54d2e;
  --colors-tomato10:#ec5e41;
  --colors-tomato11:#f16a50;
  --colors-tomato12:#feefec;
  --colors-tomatoA1:transparent;
  --colors-tomatoA2:rgba(253,21,0,.058);
  --colors-tomatoA3:rgba(255,48,25,.133);
  --colors-tomatoA4:rgba(254,51,28,.191);
  --colors-tomatoA5:rgba(254,53,30,.244);
  --colors-tomatoA6:rgba(255,57,30,.319);
  --colors-tomatoA7:rgba(255,55,25,.434);
  --colors-tomatoA8:rgba(255,58,18,.598);
  --colors-tomatoA9:rgba(255,84,49,.885);
  --colors-tomatoA10:rgba(255,100,69,.916);
  --colors-tomatoA11:rgba(255,112,84,.939);
  --colors-tomatoA12:rgba(255,243,240,.98);
  --colors-violet1:#17151f;
  --colors-violet2:#1c172b;
  --colors-violet3:#251e40;
  --colors-violet4:#2c2250;
  --colors-violet5:#32275f;
  --colors-violet6:#392c72;
  --colors-violet7:#443592;
  --colors-violet8:#5842c3;
  --colors-violet9:#6e56cf;
  --colors-violet10:#7c66dc;
  --colors-violet11:#9e8cfc;
  --colors-violet12:#f1eefe;
  --colors-violetA1:transparent;
  --colors-violetA2:rgba(116,58,253,.054);
  --colors-violetA3:rgba(116,82,254,.148);
  --colors-violetA4:rgba(118,80,255,.219);
  --colors-violetA5:rgba(118,84,255,.286);
  --colors-violetA6:rgba(114,83,255,.371);
  --colors-violetA7:rgba(112,83,255,.514);
  --colors-violetA8:rgba(111,82,255,.733);
  --colors-violetA9:rgba(134,104,255,.786);
  --colors-violetA10:rgba(142,117,255,.844);
  --colors-violetA11:rgba(161,142,255,.98);
  --colors-violetA12:rgba(245,242,255,.98);
  --colors-yellowA1:rgba(171,171,5,.024);
  --colors-yellowA2:rgba(255,221,2,.091);
  --colors-yellowA3:rgba(255,234,1,.181);
  --colors-yellowA4:rgba(255,230,1,.267);
  --colors-yellowA5:rgba(252,219,0,.357);
  --colors-yellowA6:rgba(242,201,0,.451);
  --colors-yellowA7:rgba(227,178,0,.577);
  --colors-yellowA8:rgba(235,188,0,.98);
  --colors-yellowA9:rgba(245,216,0,.961);
  --colors-yellowA10:rgba(247,206,0,.98);
  --colors-yellowA11:rgba(146,102,0,.98);
  --colors-yellowA12:rgba(41,28,0,.942);
  --colors-yellow1:#1c1500;
  --colors-yellow2:#221a00;
  --colors-yellow3:#2c2100;
  --colors-yellow4:#352800;
  --colors-yellow5:#3e3000;
  --colors-yellow6:#493c00;
  --colors-yellow7:#594a05;
  --colors-yellow8:#705e00;
  --colors-yellow9:#f5d90a;
  --colors-yellow10:#ffef5c;
  --colors-yellow11:#f0c000;
  --colors-yellow12:#fffad1;
  --colors-brand1:#041b10;
  --colors-brand2:#051f13;
  --colors-brand3:#072719;
  --colors-brand4:#092f1f;
  --colors-brand5:#0b3724;
  --colors-brand6:#10472f;
  --colors-brand7:#155b3d;
  --colors-brand8:#1d724c;
  --colors-brand9:#3fcf8e;
  --colors-brand10:#85e0b7;
  --colors-brand11:#33cc87;
  --colors-brand12:#ebfaf3;
  --colors-scale1:var(--colors-gray1);
  --colors-scale2:var(--colors-gray2);
  --colors-scale3:var(--colors-gray3);
  --colors-scale4:var(--colors-gray4);
  --colors-scale5:var(--colors-gray5);
  --colors-scale6:var(--colors-gray6);
  --colors-scale7:var(--colors-gray7);
  --colors-scale8:var(--colors-gray8);
  --colors-scale9:var(--colors-gray9);
  --colors-scale10:var(--colors-gray10);
  --colors-scale11:#bbb;
  --colors-scale12:var(--colors-gray12);
  --colors-scaleA1:var(--colors-grayA1);
  --colors-scaleA2:var(--colors-grayA2);
  --colors-scaleA3:var(--colors-grayA3);
  --colors-scaleA4:var(--colors-grayA4);
  --colors-scaleA5:var(--colors-grayA5);
  --colors-scaleA6:var(--colors-grayA6);
  --colors-scaleA7:var(--colors-grayA7);
  --colors-scaleA8:var(--colors-grayA8);
  --colors-scaleA9:var(--colors-grayA9);
  --colors-scaleA10:var(--colors-grayA10);
  --colors-scaleA11:var(--colors-grayA11);
  --colors-scaleA12:var(--colors-grayA12)
} */